
body > *{
  font-family: arial;
  margin: 0 auto;
    color: rgb(71, 78, 94);

}

#content{
  display: grid;
  -ms-grid-template-columns: (12, 1fr);
  grid-template-columns: (12, 1fr);
  grid-auto-rows: minmax(100px, auto);
  /* max-width: 100%; */
  margin: 0 auto;
}

#banner {
  grid-column: 1/13;
  background-image: url("../barclays-cycle-hire-bicycles-bikes-34646.jpg");
  background-size: cover;
  text-align: center;

  color: white;
  font-size: 48px;
  padding-top: 150px;
  padding-bottom: 150px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);

}

main {
  grid-column: 1/2;
  grid-row: 2/3;

  padding-top: 60px;
  padding-left: 85px;
  background-color: rgb(190, 202, 224);
}

select {
   background: transparent;
   width: 268px;
   font-size: 16px;
   line-height: 1;
   border-radius: 0;
   height: 34px;
   border: 2px solid;
   border-color: rgb(71, 78, 94);
}


ul {
  list-style: none;
  /* padding-top: 20px; */
  padding-left: 5px;
}

li {
  padding: 2px;
  margin: 2px;
  list-style-type: none;
}


h2{
  font-size: 28px;
}


#chart-div {
  grid-column: 1/2;
  grid-row: 3/4;
  /* padding-top: 10px; */
  /* padding-left: 60px; */
  /* padding-right: 40px; */
  background-color: rgb(190, 202, 224);

}

#post-code {
  grid-column: 1/2;
  grid-row: 4/5;
  padding-left: 92px;
  background-color: rgb(190, 202, 224);
  font-size: 20px;
}




#main-map {
  grid-column: 2/13;
  grid-row: 2/5;
  height: 634.47px;
  background-color: rgb(190, 202, 224);
}


#air-quality{

  grid-column: 1/13;
  grid-row: 5/6;
  padding-top: 25px;
  padding-left: 80px;
  /* color: white; */;
  color: rgb(190, 202, 224);
  text-align: center;
  background-color: rgb(5, 160, 238);
}



#other-photo {
  grid-column: 1/9;
  grid-row: 6/7;
  background-image: url("../pexels-photo-248762.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}

#daylight {
  grid-column: 9/13;
  grid-row: 6/7;
}



footer {
  grid-column: 1/13;
  text-align: center;
  padding-top: 30px;
  background-color: rgb(38, 45, 64);

}
